{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
  <pre></pre>
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar" id="sidbar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class= "nav-link" href="">
            <span data-feather="home"></span>
            Dashboard
            </a>
          </li>
          <li class="nav-item">
            {% if 'Tags' == title  %}
              {% set css = "nav-link active" %}
            {% else %}
              {% set css = "nav-link" %}
            {% endif %}
            <a class= "{{ css }}" href="{{ url_for('tags') }}">
            <span data-feather="tag"></span>
            Tags
            </a>
          </li>
          <li class="nav-item">
            {% if 'Accounts' == title  %}
              {% set css = "nav-link active" %}
            {% else %}
              {% set css = "nav-link" %}
            {% endif %}
            <a class="{{ css }}" href="#">
            <span data-feather="users"></span>
              Accounts
            </a>
          </li>
          <li class="nav-item">
            {% if 'Posts' == title  %}
              {% set css = "nav-link active" %}
            {% else %}
              {% set css = "nav-link" %}
            {% endif %}
            <a class="{{ css }}" href="#">
            <span data-feather="align-center"></span>
              Posts
            </a>
          </li>
        </ul>
        
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">


      {% block admin %}{% endblock %}

      </div>
    </main>
  </div>
</div>
<script>
  feather.replace()
</script>

{% endblock content %}