{% extends "layout.html" %}
{% block content %}

<!-- Page Header -->
<header class="masthead"
   style="background-image: url( {{url_for('static', filename='images/design/data_science.jpg')}} )">
   <div class="overlay"></div>
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
               <h1>Hello World!</h1>
               <h2 class="subheading">A Blog about Data Science and Python</h2>
               <span class="meta">
                  Nobody understands this stuff at first, just keep going!
               </span>
            </div>
         </div>
      </div>
   </div>
</header>

<div class="container">
   <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
         {% for category, message in messages %}
         <div class="alert alert-{{ category }}">
            {{ message }}
         </div>
         {% endfor %}
         {% endif %}
         {% endwith %}

         {% for post in posts.items %}
         <div class="post-preview">
            <a href="{{ url_for('post', slug=post.slug) }}">
               <h2 class="post-title">
                  {{ post.title }}
               </h2>
               <h3 class="post-subtitle">
                  {{ post.description }}
               </h3>
            </a>
            <p class="post-meta">Posted by
               {{ post.author.alias }} on {{ post.date_posted.strftime('%B %d, %Y') }}
            </p>
         </div>
         <hr>
         {% endfor %}



         <!-- Pager -->
         <div class="clearfix">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if posts.page == page_num %}
            <a class="btn btn-light mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="btn btn-dark mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
         </div>
      </div>
   </div>
</div>

{% endblock content %}