{% extends "layout.html" %}
{% block content %}
<div class="row" id="blog_post">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <article class="media content-section">
          <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"> -->
          <div class="media-body">

            <div class="article-metadata">
              <h2><a class="article-title" href="{{ url_for('post', slug=post.slug) }}">{{ post.title }}</a></h2>
              <p class="blog-post-meta">{{ post.date_posted.strftime('%B %d, %Y') }} by {{ post.author.alias }} </p>
              {% if post.author == current_user %}
                <div>
                  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', slug=post.slug) }}">Update</a>
                  <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
              {% endif %}
            </div>
            <p class="article-content">{{ post.content|safe }}</p>
          </div>
        </article>
    </div>
  </div>
  <div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', slug=post.slug) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
