.account-img {
    height: 125px;
    padding-right: 2rem;
    margin-right: 0px;
    margin-bottom: 16px;
}
#create {
    font-weight: 500;
    font-size: .875rem;
    text-align: right;
}

.sidebar .nav-link.active {
    color: #ff4836;
}
.sidebar .nav-link {
    font-weight: 500;
    font-size: .875rem;
    text-align: left;
}

.sidebar {
    padding-left: 0px;
    padding-top: 8px;
}

.article-img {
    width: 45px;
    padding: .5rem;
}

#bulk_actions {
    display: none;
    padding-bottom: 8px;
}