body {
  background: #fff0cf2e;
  color: #333333;
  margin-top: 5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  /*background-color: #5f788a;*/
  background-image: url("images/retro_stripes_fade.jpg");
  background-size: 696px 112px;
}

.site-header .navbar-nav .nav-link {
  color: #fffcf6;
  /*background-image: url("images/retro_stripes.jpg");*/
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


.navbar-brand {
  display: inline-block;
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: $navbar-padding-x;
  font-size: 2rem;
  line-height: inherit;
  white-space: nowrap;

  @include hover-focus {
    text-decoration: none;
  }
}

.article-title {
  color: #555555de;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn-info {
    color: #fff;
    background-color: #1a6283;
    border-color: #1d6184;
}

.blog-header {
    padding-top: 2rem;
    padding-bottom: .1rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
}

.blog-post {
    margin-bottom: 3rem;
}

.sidebar-module-inset {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: .25rem;
}

#blog_post { 
  padding-top: 40px;
}

.btn-outline-info {
    color: #1d6184;
    border-color: #1d6184;
}

.btn-outline-primary {
    color: #1d6184;
    border-color: #1d6184;
}
