{% extends "layout.html" %}

{% block content %}

<header class="masthead" style="background-image: url( {{url_for('static', filename='images/design/home-bg.jpg')}} )">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>You don't have permission to do that (403)</h1>
                    <h2 class="subheading">Please check your account and try again</h2>
                </div>
            </div>
        </div>
    </div>
</header>



{% endblock content %}